force-app/main/default/flows/Cancel_All.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The action for invoking the Cancel All Eligible Items Preview invocable action.</description>
        <name>Cancel_Order_Summary_Preview</name>
        <label>Cancel Order Summary Preview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Commerce-OrderManagement.CancelOrderSummaryPreview</actionName>
        <actionType>api</actionType>
        <connector>
            <targetReference>Preview_Changes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_in_Preview_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CancelAllOrderItemsInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Commerce-OrderManagement.CancelOrderSummaryPreview</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PreviewCancelOutputRepresentation</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PreviewCancelOutputResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PreviewCancelOutputException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>The action for invoking the Cancel All Eligible Items Submit invocable action.</description>
        <name>Cancel_Order_Summary_Submit_Async</name>
        <label>Cancel Order Summary Submit Async</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Commerce-OrderManagement.CancelOrderSummarySubmitAsync</actionName>
        <actionType>api</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CancelAllOrderItemsInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Commerce-OrderManagement.CancelOrderSummarySubmitAsync</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CancelAllOrderItemsAsyncOutput</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets all the possible active stages for the flow.</description>
        <name>Active_Stages_With_Return_Fees</name>
        <label>Active Stages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_To_Part_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns an exception message to a Cancel All Order input.</description>
        <name>Assign_Exception_Message_to_Cancel_All_Order_Input</name>
        <label>Assign Exception Message to Cancel All Order Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelAllOrderInput.exceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviewCancelOutputException</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Cancel_Fee_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the selected product ID to the ID of the product whose product code equals the passed product’s code.</description>
        <name>Assign_Existing_Product2Id</name>
        <label>Assign Existing Product2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedProduct2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PricebookEntryId</name>
        <label>Assign PricebookEntryId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedPricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_and_Excluded_Item_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the change item fee and taxes to Change Item Fee with tax input.</description>
        <name>Change_Item_Fee_and_Taxes_Assignment</name>
        <label>Change Item Fee and Taxes Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Fee_Assignment_Loop.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Fee_Assignment_Loop.orderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProduct2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItemFeeWithTaxInputDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Fee_Assignment_Loop.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.reasonText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Fee_Assignment_Loop.reasonText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.priceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentation.changeItemFeeTaxes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeItemFeeTaxInputRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fee_And_Taxes_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the change item fee with tax input to the Change Item Fee with Tax input list.</description>
        <name>Change_Item_Fee_And_Taxes_List_Assignment</name>
        <label>Change Item Fee And Taxes List Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChangeItemFeeWithTaxInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancellation_Fee_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the change item fee tax details to the Change Item Fee Tax input representation.</description>
        <name>Change_Item_Fee_Taxes_Assignment</name>
        <label>Change Item Fee Taxes Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fee_Taxes_Loop.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentation.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItemFeeTaxInputType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentation.rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Item_Fee_Taxes_Loop.rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentation.taxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItemFeeTaxInputTaxEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeItemFeeTaxInputDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fee_Taxes_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the change item tax input representation to the Change Item Tax input representation list.</description>
        <name>Change_Item_Fee_Taxes_List_Assignment</name>
        <label>Change Item Fee Taxes List Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChangeItemFeeTaxInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Item_Fee_Taxes_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the change item fee with tax input list to Cancel All Invocable Action input.</description>
        <name>Change_Item_Fee_with_Tax_Input_Assignment</name>
        <label>Change Item Fee with Tax Input Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CancelAllOrderItemsInputRepresentation.changeItemFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeItemFeeWithTaxInputRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Order_Summary_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets an error message for a failure of invocable action.</description>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message for a no items error message.</description>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToCancel_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns a reason and excluded items to the Cancel All invocable action input.</description>
        <name>Reason_and_Excluded_Item_Assignment</name>
        <label>Reason and Excluded Item Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CancelAllOrderItemsInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelAllOrderInput.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelAllOrderItemsInputRepresentation.reasonText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelAllOrderInput.reasonText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelAllOrderItemsInputRepresentation.excludedItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cancelAllOrderInput.excludedItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeWithTaxInputRepresentationList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangeItemFeeTaxInputRepresentationList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cancellation_Fee_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets error details for a locked order summary.</description>
        <name>Set_Locked_Order_Summary_Error_Message</name>
        <label>Set Locked Order Summary Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Locked_Order_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Locked_Order_Summary_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the running flow stage to Cancel Fee Screen.</description>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Cancel Fee Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Fee_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the running flow stage to Preview Screen.</description>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Preview Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product2_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the running flow stage to Submit.</description>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Submit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets error details for an unmanaged order.</description>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets error details for a wrong entity error.</description>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_confirmationImageDescription</description>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/slds2/empty-state/informational.svg</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorOutputInvocableActionImageDescription</description>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorOutputNoItemsToCancelImageDescription</description>
        <name>Error_Output_NoItemsToCancel_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorOutputUnmanagedOrderImageDescription</description>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorOutputWrongEntityImageDescription</description>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_flowNameDescription</description>
        <name>Flow_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cancel_all</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_invalidApiInputExceptionMessageDescription</description>
        <name>Invalid_Api_Input_Exception_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>INVALID_API_INPUT</stringValue>
        </value>
    </constants>
    <constants>
        <description>$Label.CancelAllFlow.CancelAllFlow_twoHundredStatusCodeDescription</description>
        <name>Two_Hundred_Status_Code</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>200.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if there are any order summary items available for cancellation.</description>
        <name>Are_Any_Items_To_Cancel</name>
        <label>Are Any Items To Cancel?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>No Items</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Item_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_With_Return_Fees</targetReference>
            </connector>
            <label>Items Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the product is available for a passed product code.</description>
        <name>Created_Product2_Exists</name>
        <label>Created Product2 Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has No Product2</defaultConnectorLabel>
        <rules>
            <name>Has_Product2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_Product2.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>productCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Product2Id</targetReference>
            </connector>
            <label>Has Product2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the PricebookEntry exists.</description>
        <name>Does_PricebookEntry_Exist</name>
        <label>Does PricebookEntry Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_PricebookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found PricebookEntry</defaultConnectorLabel>
        <rules>
            <name>Found_PricebookEntry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PricebookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PricebookEntryId</targetReference>
            </connector>
            <label>Found PricebookEntry</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Preview Cancel All exception is caused by invalid API input.</description>
        <name>Exception_in_Preview_Action</name>
        <label>Exception in Preview Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Exception</defaultConnectorLabel>
        <rules>
            <name>Invalid_Api_Input_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviewCancelOutputResponseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Two_Hundred_Status_Code</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviewCancelOutputException</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviewCancelOutputException</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Api_Input_Exception_Message</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exception_Message_to_Cancel_All_Order_Input</targetReference>
            </connector>
            <label>Invalid Api Input Exception</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the order summary is valid.</description>
        <name>Is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Locked_OS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OperationInProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Locked_Order_Summary_Error_Message</targetReference>
            </connector>
            <label>Locked Order Summary</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the order summary has pricebook</description>
        <name>OrderSummary_Has_PriceBook</name>
        <label>Order Summary Has Pricebook?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reason_and_Excluded_Item_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Pricebook</defaultConnectorLabel>
        <rules>
            <name>Has_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PricebookEntry</targetReference>
            </connector>
            <label>Has No Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether a Product2 is provided by the user.</description>
        <name>Product2_Provided</name>
        <label>Product2 Provided?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provided</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedProduct2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Created_Product2</targetReference>
            </connector>
            <label>Not Provided</label>
        </rules>
    </decisions>
    <description>Order Management: Cancel all eligible order items before fulfillment.</description>
    <environments>Default</environments>
    <interviewLabel>Cancel All Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel All Eligible Items</label>
    <loops>
        <description>Loop for iterating over Change Item fees.</description>
        <name>Cancellation_Fee_Assignment_Loop</name>
        <label>Cancellation Fee Assignment Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cancelAllOrderInput.changeItemFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Fee_Taxes_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Item_Fee_with_Tax_Input_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over iterating change item fee taxes.</description>
        <name>Change_Item_Fee_Taxes_Loop</name>
        <label>Change Item Fee Taxes Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Cancellation_Fee_Assignment_Loop.changeItemFeeTaxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Item_Fee_Taxes_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Item_Fee_and_Taxes_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a PricebookEntry for the cancellation fee product.</description>
        <name>Create_PricebookEntry</name>
        <label>Create PricebookEntry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>SelectedPricebookEntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Reason_and_Excluded_Item_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Order_Summary_Object.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>SelectedProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>SelectedUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a new product for a cancellation fee.</description>
        <name>Create_Product2</name>
        <label>Create Product2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>SelectedProduct2Id</assignRecordIdToReference>
        <connector>
            <targetReference>OrderSummary_Has_PriceBook</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Fee For Cancelations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Fee For Cancelations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>productCode</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the Product2 for the passed product code.</description>
        <name>Get_Created_Product2</name>
        <label>Get Created Product2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_Product2_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Cancel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToCancel</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Order Summary for the passed record ID.</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Valid_Order_Summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PricebookEntry</name>
        <label>Get PricebookEntry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PricebookEntry_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Object.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProduct2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Rollback the transaction on failure.</description>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <description>The screen for an Order Summary cancellation reason, fee, and taxes.</description>
        <name>Cancel_Fee_Screen</name>
        <label>Cancel Fee Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Information_Message</name>
            <fieldText>&lt;p&gt;{!Header_Cancellation_Fee}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancel_Fee_And_Reason</name>
            <extensionName>runtime_commerce_oms:orderFeeSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelAllOrderInput</name>
                <value>
                    <elementReference>cancelAllOrderInput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowCancelFees</name>
                <value>
                    <elementReference>allowCancelFees</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelAllOrderInput</assignToReference>
                <name>cancelAllOrderInput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Progess_Indicator</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>IsError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The screen that displays the confirmation message.</description>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Image_Display</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Header_Confirmation_Title</name>
                    <fieldText>{!Header_Confirmation}</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Footer_Confirmation_Title</name>
                    <fieldText>{!Footer_Confirmation}</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Footer</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The screen that displays error details.</description>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!ErrorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!ErrorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The screen that displays the preview result of the cancellation.</description>
        <name>Preview_Changes</name>
        <label>Preview Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cancel_Order_Summary_Submit_Async</targetReference>
        </connector>
        <fields>
            <name>Header_Preview_Changes</name>
            <fieldText>&lt;p&gt;{!Header_PreviewChanges}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Order_Changes</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewCancelOutput</name>
                <value>
                    <elementReference>PreviewCancelOutputRepresentation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>Flow_Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Preview_Footer</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_oms__Cancel_All</sourceTemplate>
    <stages>
        <description>Stage 1 for selecting cancellation reason, fee and taxes</description>
        <name>Part_1</name>
        <isActive>false</isActive>
        <label>Select Cancellation Reason, Fee and Taxes</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>Stage 2 for review and submit</description>
        <name>Part_2</name>
        <isActive>false</isActive>
        <label>Review and Submit</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>Stage 3 for confirm and finish</description>
        <name>Part_3</name>
        <isActive>false</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>$Label.FlowErrors.invocableErrorMessageDescription</description>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.lockedOrderSummaryErrorDescription</description>
        <name>Error_Output_Locked_Order_Summary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This order summary is locked while background processes run. Try again later.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.lockedOrderSummaryErrorDescription</description>
        <name>Error_Output_Locked_Order_Summary_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The Order Summary is Locked.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.noItemsToCancelDescription</description>
        <name>Error_Output_NoItemsToCancel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can cancel, you&apos;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.noItemsToCancelDescription</description>
        <name>Error_Output_NoItemsToCancel_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Cancel</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.unmanagedOrderErrorMessageDescription</description>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.unmanagedOrderErrorMessageDescription</description>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.invokeCancelActionFromOrderSummaryDescription</description>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&apos;d cancel items from an order. To cancel an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.FlowErrors.invokeActionFromOrderSummaryDescription</description>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.CancelAllFlow.CancelAllFlow_successMessageDescription</description>
        <name>Footer_Confirmation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&quot;&gt;Your order will be locked until the cancellation completes. This can take a few minutes.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.CancelAllFlow.CancelAllFlow_cancellationScreenInformationMessageDescription</description>
        <name>Header_Cancellation_Fee</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center; margin: 0; font-weight: normal; font-size: 1em;&quot;&gt;The cancellation details apply to all eligible items in your order.&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.CancelAllFlow.CancelAllFlow_successHeaderDescription</description>
        <name>Header_Confirmation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center; font-size: 20px;&quot;&gt;You&apos;re all set!&lt;/h3&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>$Label.CancelAllFlow.CancelAllFlow_summaryHeaderDescription</description>
        <name>Header_PreviewChanges</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h3 style=&quot;text-align: center; margin: 0; font-weight: normal; font-size: 1em;&quot;&gt;Review your selections. If everything looks good, you&apos;re ready to submit!&lt;/h3&gt;</text>
    </textTemplates>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_allowCancelFeesDescription</description>
        <name>allowCancelFees</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_cancelAllOrderInputDescription</description>
        <name>cancelAllOrderInput</name>
        <apexClass>runtime_commerce_oms__CancelAllOrderInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_cancelAllOrderItemsAsyncOutputDescription</description>
        <name>CancelAllOrderItemsAsyncOutput</name>
        <apexClass>ConnectApi__CancelAllOrderItemsAsyncOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_cancelAllOrderItemsInputRepresentationDescription</description>
        <name>CancelAllOrderItemsInputRepresentation</name>
        <apexClass>ConnectApi__CancelAllOrderItemsInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeTaxInputDescription_description</description>
        <name>changeItemFeeTaxInputDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Change Item Fee Tax object.</stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeTaxInputRepresentationVariableDescription</description>
        <name>ChangeItemFeeTaxInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemFeeTaxInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeTaxInputRepresentationListVariableDescription</description>
        <name>ChangeItemFeeTaxInputRepresentationList</name>
        <apexClass>ConnectApi__ChangeItemFeeTaxInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeTaxInputTaxEffectiveDate_description</description>
        <name>changeItemFeeTaxInputTaxEffectiveDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeTaxInputType_description</description>
        <name>changeItemFeeTaxInputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Actual</stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeWithTaxInputDescription_description</description>
        <name>changeItemFeeWithTaxInputDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Change Item Fee and Tax input object.</stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeWithTaxInputRepresentationVariableDescription</description>
        <name>ChangeItemFeeWithTaxInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemFeeWithTaxInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_changeItemFeeWithTaxInputRepresentationListVariableDescription</description>
        <name>ChangeItemFeeWithTaxInputRepresentationList</name>
        <apexClass>ConnectApi__ChangeItemFeeWithTaxInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_confirmationImageDescription</description>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorMessageVariableDescription</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorMessageImageVariableDescription</description>
        <name>ErrorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_errorMessageTitleVariableDescription</description>
        <name>ErrorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_isErrorVariableDescription</description>
        <name>IsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_previewCancelOutputExceptionDescription</description>
        <name>PreviewCancelOutputException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_previewCancelOutputRepresentationVariableDescription</description>
        <name>PreviewCancelOutputRepresentation</name>
        <apexClass>ConnectApi__PreviewCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_previewCancelOutputResponseCodeDescription</description>
        <name>PreviewCancelOutputResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_productCodeVariableDescription</description>
        <name>productCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>cancel_fees</stringValue>
        </value>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_recordIdVariableDescription</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_selectedPricebookEntryIdVariableDescription</description>
        <name>SelectedPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_selectedProduct2IdVariableDescription</description>
        <name>SelectedProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>$Label.CancelAllFlow.CancelAllFlow_selectedUnitPriceVariableDescription</description>
        <name>SelectedUnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
</Flow>
