force-app/main/default/flows/Clock_in_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>clock</name>
        <label>Clock out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttendance.Clock_out_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clock_out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clock_In</name>
        <label>Clock In</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttendance.Clock_In_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Attendance</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Clock_In_Status</name>
        <label>Check Clock In Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>clock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Clocked In</defaultConnectorLabel>
        <rules>
            <name>Not_Clocked_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttendance.Clock_In_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_In</targetReference>
            </connector>
            <label>Not Clocked In</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clock in Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clock in Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Clock_out</name>
        <label>Clock out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varAttendance</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attendance</name>
        <label>Update Attendance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varAttendance</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Clock_In_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
