force-app/main/default/flows/Create_CO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_an_Invoice</name>
        <label>Create an Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createInvoiceFromChangeOrders</actionName>
        <actionType>createInvoiceFromChangeOrders</actionType>
        <connector>
            <targetReference>Create_Invoice_To_Pay</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Invoice_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createInvoiceFromChangeOrdersInput</name>
            <value>
                <elementReference>invoiceFromChangeOrdersInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createInvoiceFromChangeOrders</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>changeOrdersInvoiceOutputRepresentation</assignToReference>
            <name>createInvoiceFromChangeOrdersOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Memo</name>
        <label>Create Credit Memo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Get_Change_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Credit_Memo_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>createCreditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createCreditMemoOrderSummary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>createCreditMemoOutputRepresentation</assignToReference>
            <name>creditMemoOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Payment_Credit</name>
        <label>Ensure Payment Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ensurePaymentCredit</actionName>
        <actionType>ensurePaymentCredit</actionType>
        <connector>
            <targetReference>Payment_Credit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ensure_Payment_Credit_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensurePaymentCreditInput</name>
            <value>
                <elementReference>Ensure_Payment_Credit_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensurePaymentCredit</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ensurePaymentCreditOutputRepresentation</assignToReference>
            <name>ensurePaymentCreditOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Refund</name>
        <label>Ensure Refund</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <faultConnector>
            <targetReference>Ensure_Refunds_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Return_Return_Order_Items</name>
        <label>Return Return Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>returnReturnOrderItems</actionName>
        <actionType>returnReturnOrderItems</actionType>
        <connector>
            <targetReference>Has_Fee_Change_Order_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Return_Return_Order_Item_Fault_Description</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>returnItemsInput</name>
            <value>
                <elementReference>returnItemsInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>returnReturnOrderItems</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>returnItemsOutputRepresentation</assignToReference>
            <name>returnItemsOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Action_Fault_Message</name>
        <label>Action Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_ChangeOrderId_collection</name>
        <label>Add to ChangeOrderId collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>createCreditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.changeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Quantity_To_Return</name>
        <label>Calculate Quantity To Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quantityToReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityToReturn</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Return_Order_Line_Item_Has_Quantity_To_Return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Credit_Memo_Fault_Description</name>
        <label>Create Credit Memo Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCreditMemoInvocableFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_Fault_Description</name>
        <label>Create Invoice Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateInvoiceInvocableFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_From_Change_Orders_Input_Representation</name>
        <label>Create Invoice From Change Orders Input Representation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoiceFromChangeOrdersInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.feeChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceFromChangeOrdersInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_an_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Invoice_To_Pay</name>
        <label>Create Invoice To Pay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoiceToPay.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changeOrdersInvoiceOutputRepresentation.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_InvoicesToPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Items_Input_Representation</name>
        <label>Create Return Items Input Representation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnItemsInputRepresentation.returnOrderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderItemList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnItemsInputRepresentation.returnOrderItemDeliveryCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderItemDeliveryChargeList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnItemsInputRepresentation.returnOrderItemFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnOrderItemFeesList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Return_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Input_Item</name>
        <label>Create Return Order Input Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.returnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.reasonForRejection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.ReasonForRejection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemInputRepresentation.quantityToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Delivery_Charge</name>
        <label>Create Return Order Item Delivery Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemDeliveryCharge.returnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Item_Delivery_Charge_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Delivery_Charge_List</name>
        <label>Create Return Order Item Delivery Charge List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemDeliveryChargeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderItemDeliveryCharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Fee_Input</name>
        <label>Create Return Order Item Fee Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemFeeInputRepresentation.returnOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemFeeInputRepresentation.quantityReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityToReturn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnOrderItemFeeInputRepresentation.quantityToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Order_Line_Items.QuantityRejected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Return_Order_Item_Fees_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_Fees_List</name>
        <label>Create Return Order Item Fees List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemFeesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderItemFeeInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isReturnOrderItemFeesListNotEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Return_Order_Item_List</name>
        <label>Create Return Order Item List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnOrderItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>returnOrderItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isReturnOrderItemListNotEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Payment_Credit_Fault_Description</name>
        <label>Ensure Payment Credit Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnsurePaymentCreditInvocableFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refunds_Fault_Description</name>
        <label>Ensure Refunds Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnsureRefundsInvocableFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Refunds_Input</name>
        <label>Ensure Refunds Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.invoicesToPay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoicesToPay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.sequences</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>refundsSequenceList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Description_and_Message</name>
        <label>Fault Description and Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordsReturnReturnOrderItemsFaultDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordsReturnReturnOrderItemsFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Credit_Sequence</name>
        <label>Payment Credit Sequence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>paymentCreditSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.refundInstructionsHint.paymentCreditSequence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Payment_Credit_Sort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refund_Sequence_Entry</name>
        <label>Refund Sequence Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>refundSequenceEntry.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refunds_Hint_Loop.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundSequenceEntry.orderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refunds_Hint_Loop.orderPaymentSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refunds_Sequence_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refunds_Hint_Assignment</name>
        <label>Refunds Hint</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>refundSequenceItemOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.refundInstructionsHint.refundSequence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refunds_Hint_Sort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refunds_Sequence_List</name>
        <label>Refunds Sequence List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>refundsSequenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>refundSequenceEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refunds_Hint_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Return_Order_Item_Fault_Description</name>
        <label>Return Return Order Items Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnReturnOrderItemsInvocableFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Fault_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_InvoicesToPay</name>
        <label>Set InvoicesToPay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>invoicesToPay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>invoiceToPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ensure_Payment_Credit_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Payment Credit Sequence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>paymentCreditSequence</collectionReference>
        <connector>
            <targetReference>Ensure_Payment_Credit_Input</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>rank</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Refunds_Hint_Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Refunds Hint</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>refundSequenceItemOutputRepresentation</collectionReference>
        <connector>
            <targetReference>Refunds_Hint_Loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>rank</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Are_There_Any_Return_Order_Line_Items_To_Return</name>
        <label>Are There Any Return Order Line Items To Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_There_Any_Return_Order_Line_Items_To_Return_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReturnOrderItemListNotEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Items_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Return_Order_Line_Item_Has_Quantity_To_Return</name>
        <label>Does Return Order Line Item Has Quantity To Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Return_Order_Line_Item_Has_Quantity_To_Return_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quantityToReturn</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_Product_Or_Is_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ensure_Payment_Credit_Required</name>
        <label>Ensure Payment Credit Required?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Credit_Memo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnItemsOutputRepresentation.refundInstructionsHint.paymentCreditSequence</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ensure_Payment_Credit_Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Credit_Sequence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ensure_Refunds_Required</name>
        <label>Ensure Refunds Required?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ensure_Refunds</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refunds_Hint_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Valid_Return_Order_Line_Items</name>
        <label>Filter Valid Return Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Item_Delivery_Charge</targetReference>
            </connector>
            <label>Delivery Charge</label>
        </rules>
        <rules>
            <name>Product_With_Quantity_Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.QuantityExpected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Quantity_To_Return</targetReference>
            </connector>
            <label>Product With Quantity Expected</label>
        </rules>
        <rules>
            <name>Fee_With_Quantity_Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.QuantityExpected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Quantity_To_Return</targetReference>
            </connector>
            <label>Fee With Quantity Expected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Fee_Change_Order_Id</name>
        <label>Has Fee Change Order Id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_ChangeOrderId_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnItemsOutputRepresentation.feeChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>returnItemsOutputRepresentation.feeChangeOrderId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_From_Change_Orders_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Product_Or_Is_Fee</name>
        <label>Is Order Product Or Is Fee?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Input_Item</targetReference>
            </connector>
            <label>Is Order Product?</label>
        </rules>
        <rules>
            <name>Is_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Order_Line_Items.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Return_Order_Item_Fee_Input</targetReference>
            </connector>
            <label>Is Fee?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Refund_Needed</name>
        <label>Is Refund Needed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Refund_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Change_Order.GrandTotalAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ensure_Payment_Credit_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order Management: Create a credit memo and ensure refunds for a return order.</description>
    <environments>Default</environments>
    <label>RMA Create Credit Memo and Ensure Refunds</label>
    <loops>
        <name>Payment_Credit</name>
        <label>Payment Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ensurePaymentCreditOutputRepresentation.paymentCredits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Payment_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Credit_Memo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Refunds_Hint_Loop</name>
        <label>Refunds Hint</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>refundSequenceItemOutputRepresentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Refund_Sequence_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ensure_Refunds_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Return_Order_Line_Items</name>
        <label>Return Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Return_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Valid_Return_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_There_Any_Return_Order_Line_Items_To_Return</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception_Event</name>
        <label>Process Exception Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>errorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionType</field>
            <value>
                <stringValue>OM Refund Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessExceptionEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Change_Order</name>
        <label>Get Change Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Refund_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>returnItemsOutputRepresentation.changeOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>GrandTotalAmount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo</name>
        <label>Credit Memo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ensure_Refunds_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Line_Items</name>
        <label>Get Return Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Description_and_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ChangeOrderItemId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Credit</name>
        <label>Payment Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Credit.paymentCreditId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReturnOrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentCredit</object>
    </recordUpdates>
    <sourceTemplate>runtime_commerce_rma__Create_CO</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>LifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Path</name>
            <connector>
                <targetReference>Get_Return_Order_Line_Items</targetReference>
            </connector>
            <label>Scheduled Path</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CreateCreditMemoInvocableFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Create Credit Memo action failed.</text>
    </textTemplates>
    <textTemplates>
        <name>CreateInvoiceInvocableFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Create Invoice action failed.</text>
    </textTemplates>
    <textTemplates>
        <name>EnsurePaymentCreditInvocableFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Ensure Payment Credit action failed.</text>
    </textTemplates>
    <textTemplates>
        <name>EnsureRefundsInvocableFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Ensure Refunds action failed.</text>
    </textTemplates>
    <textTemplates>
        <name>GetRecordsReturnReturnOrderItemsFaultDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We couldn&apos;t get the return order line items.</text>
    </textTemplates>
    <textTemplates>
        <name>GetRecordsReturnReturnOrderItemsFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Get Records flow element failed to get the return order line items.</text>
    </textTemplates>
    <textTemplates>
        <name>ReturnReturnOrderItemsInvocableFaultMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Return Return Order Items action failed.</text>
    </textTemplates>
    <transforms>
        <name>Ensure_Payment_Credit_Amount</name>
        <label>Ensure Payment Credit Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ensure_Payment_Credit_Required</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>returnItemsOutputRepresentation.refundInstructionsHint.paymentCreditSequence</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationFieldReference</name>
                    <value>
                        <complexValue>{&quot;dataType&quot;:&quot;Apex&quot;,&quot;objectType&quot;:&quot;ConnectApi__PaymentCreditSequenceItemOutputRepresentation&quot;,&quot;fieldReferences&quot;:[&quot;amount&quot;],&quot;elementReference&quot;:&quot;returnItemsOutputRepresentation.refundInstructionsHint.paymentCreditSequence&quot;}</complexValue>
                        <complexValueType>FieldReference</complexValueType>
                    </value>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Ensure_Payment_Credit_Input</name>
        <label>Ensure Payment Credit Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>ConnectApi__EnsurePaymentCreditInputRepresentation</apexClass>
        <connector>
            <targetReference>Ensure_Payment_Credit</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>creditMemo.amount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Ensure_Payment_Credit_Amount</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>creditMemo.id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>createCreditMemoOutputRepresentation.creditMemoId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>paymentCreditSequence[$EachItem].amount</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>paymentCreditSequence[$EachItem].amount</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>paymentCreditSequence[$EachItem].creditType</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>paymentCreditSequence[$EachItem].creditType</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>paymentCreditSequence[$EachItem].orderPaymentSummaryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>paymentCreditSequence[$EachItem].orderPaymentSummaryId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>changeOrdersInvoiceOutputRepresentation</name>
        <apexClass>ConnectApi__ChangeOrdersInvoiceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createCreditMemoOutputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensurePaymentCreditOutputRepresentation</name>
        <apexClass>ConnectApi__EnsurePaymentCreditOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceFromChangeOrdersInputRepresentation</name>
        <apexClass>ConnectApi__CreateInvoiceFromChangeOrdersInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceFromChangeOrdersOutputRepresentation</name>
        <apexClass>ConnectApi__CreateMultipleInvoicesFromChangeOrdersOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoicesToPay</name>
        <apexClass>ConnectApi__InvoiceToPayInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceToPay</name>
        <apexClass>ConnectApi__InvoiceToPayInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceToPayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isReturnOrderItemFeesListNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isReturnOrderItemListNotEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>paymentCreditSequence</name>
        <apexClass>ConnectApi__PaymentCreditSequenceItemOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantityToReturn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>refundSequenceEntry</name>
        <apexClass>ConnectApi__SequenceOrderPaymentSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundSequenceItemOutputRepresentation</name>
        <apexClass>ConnectApi__RefundSequenceItemOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundsSequenceList</name>
        <apexClass>ConnectApi__SequenceOrderPaymentSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnItemsInputRepresentation</name>
        <apexClass>ConnectApi__ReturnItemsInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnItemsOutputRepresentation</name>
        <apexClass>ConnectApi__ReturnItemsOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemDeliveryCharge</name>
        <apexClass>ConnectApi__ReturnOrderItemDeliveryChargeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemDeliveryChargeList</name>
        <apexClass>ConnectApi__ReturnOrderItemDeliveryChargeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemFeeInputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderItemFeeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemFeesList</name>
        <apexClass>ConnectApi__ReturnOrderItemFeeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemInputRepresentation</name>
        <apexClass>ConnectApi__ReturnOrderItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOrderItemList</name>
        <apexClass>ConnectApi__ReturnOrderItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
