force-app/main/default/flows/Refund_XSF_OS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Triggers the Ensure Refunds invocable action if there are excess funds after a cancellation.</description>
        <name>EnsureRefund</name>
        <label>Ensure Refund</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <faultConnector>
            <targetReference>EnsureRefundFaultDescription</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>EnsureRefundsInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ensureRefundsOrderSummaryAsync</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns the running flow interview’s fault message to the errorMessage flow variable.</description>
        <name>ActionFaultMessage</name>
        <label>Action Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessExceptionEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the error description to the errorDescription flow variable.</description>
        <name>EnsureRefundFaultDescription</name>
        <label>Fault Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnsureRefundsErrorDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActionFaultMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the excessFunds value that is present in the triggering event to the EnsureRefundsInput apex defined variable.</description>
        <name>SetExcessFunds</name>
        <label>Set Excess Funds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnsureRefundsInput.excessFundsAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalExcessFundsAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnsureRefund</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The name of the Cancel event.</description>
        <name>CancelEventName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </constants>
    <constants>
        <description>A constant that equals numerical value 0.</description>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if there are any excess funds to be refunded.</description>
        <name>CheckExcessFunds</name>
        <label>Check Excess Funds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Excess_Funds_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalExcessFundsAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetExcessFunds</targetReference>
            </connector>
            <label>Excess Funds Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the platform event that triggered this flow is of type Cancellation.</description>
        <name>IsCancelAllEvent</name>
        <label>Is Cancel All Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelEventName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckExcessFunds</targetReference>
            </connector>
            <label>Cancel Event</label>
        </rules>
    </decisions>
    <description>Refunds excess amounts if there are remaining funds after a flow succeeds.</description>
    <environments>Default</environments>
    <interviewLabel>Ensure Refunds Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensure Refunds for Excess Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new Process Exception Event with error details.</description>
        <name>CreateProcessExceptionEvent</name>
        <label>Create Process Exception Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionType</field>
            <value>
                <stringValue>OM Refund Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessExceptionEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <sourceTemplate>runtime_commerce_oms__Refund_XSF_OS</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsCancelAllEvent</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>OSAsyncChgCompletedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Holds the value of the EnsureRefunds errorDescription.</description>
        <name>EnsureRefundsErrorDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Ensure Refunds action failed.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Contains data that’s needed to invoke the Ensure Refunds async invocable action.</description>
        <name>EnsureRefundsInput</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A variable that stores the description of the error.</description>
        <name>ErrorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A variable to hold an error message.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
