force-app/main/default/flows/Update_Loyalty_points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Loyalty_Status</name>
        <label>Loyalty Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Points.Loyalty_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Loyalty_Points</targetReference>
            </connector>
            <label>Is Gold</label>
        </rules>
        <rules>
            <name>IsSilver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Points.Loyalty_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Silver_points</targetReference>
            </connector>
            <label>IsSilver</label>
        </rules>
        <rules>
            <name>IsBronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Points.Loyalty_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_bronze_points</targetReference>
            </connector>
            <label>IsBronze</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetBronze</name>
        <dataType>Number</dataType>
        <expression>{!Get_Points.Loyalty_Points__c}+100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetGold</name>
        <dataType>Number</dataType>
        <expression>{!Get_Points.Loyalty_Points__c}+500</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetSilver</name>
        <dataType>Number</dataType>
        <expression>{!Get_Points.Loyalty_Points__c}+250</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Loyalty points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Loyalty points</label>
    <loops>
        <name>Get_Points</name>
        <label>Get Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loyalty_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_bronze_points</name>
        <label>Change bronze points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loyalty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Points__c</field>
            <value>
                <elementReference>GetBronze</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Loyalty_Points</name>
        <label>Change Loyalty Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loyalty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Points__c</field>
            <value>
                <elementReference>GetGold</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Silver_points</name>
        <label>Change Silver points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loyalty_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Points__c</field>
            <value>
                <elementReference>GetSilver</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
